<div class="container py-3">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">

                <svg width="40" height="32" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <rect x="10" y="10" width="80" height="80" rx="10" fill="none" stroke="#1E90FF" stroke-width="6" />
                    <text x="50" y="65" font-family="Arial, sans-serif" font-size="40" fill="#1E90FF"
                        text-anchor="middle">E</text>
                    <circle cx="70" cy="30" r="10" fill="#1E90FF" />
                </svg>
                <span class="fs-4 "><b>Erkinov SHOP</b></span>
            </a>

            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                {{#if isProducts}}
                <a class='me-3 py-2 text-dark' href='/products'>Products</a>
                {{else}}
                <a class='me-3 py-2 text-dark text-decoration-none' href='/products'>Products</a>
                {{/if}}

                {{#if isAdd}}
                <a class='me-3 py-2 text-dark' href='/add'>Add</a>
                {{else}}
                <a class='me-3 py-2 text-dark text-decoration-none' href='/add'>Add</a>
                {{/if}}

                <div class='btn-group' role='group' aria-label='Basic mixed styles example'>
                    {{#if token}}
                    <button type='button' class='btn btn-danger active'>
                        <a class='text-light text-decoration-none' href='/logout'>Logout</a>
                    </button>
                    {{else}}
                    {{#if isLogin}}
                    <button type='button' class='btn btn-primary active'>
                        <a class='text-light text-decoration-none' href='/login'>Login</a>
                    </button>
                    {{else}}
                    <button type='button' class='btn btn-primary'>
                        <a class='text-light text-decoration-none' href='/login'>Login</a>
                    </button>
                    {{/if}}

                    {{#if isRegister}}
                    <button type='button' class='btn btn-success active'>
                        <a class='text-light text-decoration-none' href='/register'>Register</a>
                    </button>
                    {{else}}
                    <button type='button' class='btn btn-success'>
                        <a class='text-light text-decoration-none' href='/register'>Register</a>
                    </button>
                    {{/if}}
                    {{/if}}
                </div>
            </nav>
        </div>

    </header>

</div>